---
author: Oskar Taubert
title: Index
description: Landing page for Propulate tutorial
design: black
---



<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
<body>
	<div class="reveal">
		<div class="slides">
        <section id="overview" data-markdown data-separator="\n---\n">
            <script type="text/template">
- This is the landing page for the propulate tutorial.
- The presentation slides are here:
- Exercises are here: [https://github.com/otaub/Propulate_Tutorial](https://github.com/otaub/Propulate_Tutorial)

            </script>
        </section>
			{{ content }}
		</div>
	</div>
	{% include script.html %}
</body>
</html>
